
/* MacOs specific rules, remove this line to enable */

#titlebar {
  visibility: collapse !important;
}
#TabsToolbar .titlebar-buttonbox-container {
  display: block;
  position: absolute;
  visibility: visible;
}
:root:not([uidensity]) #TabsToolbar .titlebar-buttonbox-container {
  margin-left: 12px;
  margin-top: 12px;
}
:root[uidensity="compact"] #TabsToolbar .titlebar-buttonbox-container {
  margin-left: 10px;
  margin-top: 9px;
}
#TabsToolbar .titlebar-buttonbox.titlebar-color {
  margin-left: 0px !important;
}
#main-window:not([inFullscreen]) #nav-bar {
  padding: 0px 0px 0px 70px !important;
}




/* PC specific rules, remove this line to enable
.tabbrowser-tab {
  visibility: collapse;
}
.titlebar-button {
  height: 27px !important;
}
#nav-bar {
  margin-top: -42px;
  margin-right: 140px;
  box-shadow: none !important;
}
[uidensity="compact"]:root .titlebar-button {
  height: 32px !important;
}
[uidensity="compact"]:root #nav-bar {
  margin-top: -32px;
}
#titlebar-spacer {
  background-color: var(--chrome-secondary-background-color);
}
#titlebar-buttonbox-container {
  background-color: var(--chrome-secondary-background-color);
}
.titlebar-color {
  background-color: var(--toolbar-bgcolor);
}
* PC specific rules remove this and next line to enable
*/



/*  Sideberry Dynamic sidebar   */
#sidebar-box {
  overflow: hidden;
  height: calc(100% - 30px);
  position: fixed;
  max-width: 30px;
  display: block;
  transition: 90ms;
}

#sidebar-box:hover {
  max-width: 100%;
  z-index: 3;
}

#sidebar {
  width: calc(30px * 10) !important;
  max-width: 50vw !important;
  height: 100%;
}

#appcontent {
  margin-left: 30px;
}

/* Page Actions Hide and Show on Hover */

/* Hide Buttons and Reveal on Hover */

#page-action-buttons:not(:hover) .urlbar-page-action,
#page-action-buttons:not(:hover) #star-button
{
  width: 0px !important;
  min-width: 0px !important;
  padding-left: 0px !important;
  padding-right: 10px !important;
  margin-right: -5px !important;
  transition: all 250ms ease-in-out;
}

#page-action-buttons:not(:hover) #userContext-indicator {
  margin-right : 37px !important;
  transition: all 250ms ease-in-out;
}

#page-action-buttons:hover .urlbar-page-action,
#page-action-buttons:hover #star-button  {
  visibility: visible;
  min-width: unset !important;
}

#page-action-buttons:hover #userContext-indicator {
  margin-right : 0px !important;
}

/* Create page actions hover "button" */
#page-action-buttons::after {
  content: "•••";
  position: absolute;
  top: 0.7em;
  font-size: 0.7em;
  opacity: 0.5;
  right: 8px;
  transition: all 50ms ease-in-out;
}

/* Hide the button on hover */
#page-action-buttons:hover::after {
  display: none !important;
  width: 0px !important;
  margin-left: 0px !important;
  transition: all 50ms ease-in-out;
}

/* Hide Buttons and Reveal on Hover Finished*/
#urlbar,#searchbar {
  font-size: 13px !important;
	margin-top: 1px !important;
}

